<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>81341323740-mortdk1sobcndmfb4omb5660i2e9r6p7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81341323740-mortdk1sobcndmfb4omb5660i2e9r6p7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>81341323740-lonocvcjsjngck1lhqshib03fhgib23s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDVgWE3FPqfH5pf77KTaHsbPA4MTfnQLYs</string>
	<key>GCM_SENDER_ID</key>
	<string>81341323740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.heal</string>
	<key>PROJECT_ID</key>
	<string>heal-43111</string>
	<key>STORAGE_BUCKET</key>
	<string>heal-43111.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81341323740:ios:c39167ad3136393c3a9719</string>
</dict>
</plist>